/* got this from https://codepen.io/CSWApps/pen/YyerKb and will build off it */

.main-container,
.preview-container {
  border: 2px solid;
  border-bottom-color: #535353;
  border-right-color: #535353;
  border-left-color: #dbdbdb;
  border-top-color: #dbdbdb;
  background-color: #bfbfbf;
  max-width: 600px;
  font-size: 13px;
  padding: 2px;
  ul.toolbar {
    list-style: none;
    padding: 2px 0;
    margin: 0;
    li {
      display: inline-block;
      padding: 0 5px;
    }
  }
  .container-inner {
    border: 2px solid;
    border-bottom-color: #c7c7c7;
    border-right-color: #c7c7c7;
    border-left-color: #808080;
    border-top-color: #808080;
    background-color: #fff;
    padding: 10px;
    ul.icons {
      list-style: none;
      padding: 2px 0;
      margin: 0;
      li {
        display: inline-block;
        padding: 0 5px;
      }
    }
  }
  .statusbar {
    .left, .right {
      border: 1px solid;
      border-color: #888 #dadada #dadada #888;
      display: inline-block;
      padding: 0px 5px;
      font-size: 11px;
    }
    .left {
      width: 33%;
    }
    .right {
      width: 66%;
    }
  }
}
.title {
  background-color: #808080;
  padding: 2px 4px 3px 4px;
  position: relative;
  h1 {
    font-weight: bold;
    color: #bcbcbc;
    font-size: 13px;
    margin: 0;
  }
}

.mock-link {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

/* button styles from https://codepen.io/wiledal/pen/ngJsy */
$gray: #c0c0c0;
$gray-dark: #808080;
$gray-light: #dfdfdf;
$blue: #000080;

@mixin borders {
  background: $gray !important;
  border-top: 1px solid $gray-light !important;
  border-left: 1px solid $gray-light !important;
  border-right: 1px solid #000 !important;
  border-bottom: 1px solid #000 !important;
  border-radius: 0px  !important;
  box-shadow: inset -1px -1px 0 0 $gray-dark, inset 1px 1px 0 0px #fff !important;
  padding: 2px !important;
}

@mixin inset-border {
  border-top: 1px solid $gray-dark !important;
  border-left: 1px solid $gray-dark !important;
  
  border-right: 1px solid #fff !important;
  border-bottom: 1px solid #fff !important;
}

button {
  @include borders;
  
  display: inline-block !important;
  color: black  !important;
  box-shadow: inset -1px -1px 0 0 $gray-dark, inset 1px 1px 0 0px $gray-light !important;
  border-top: 1px solid #fff !important;
  border-left: 1px solid #fff !important;
  font-family: 'w95' !important;
  padding: 0 10px 0 10px !important;
  height: 24px !important;
  
  &:active {
    //background: $gray-dark;
    
    box-shadow: inset 1px 1px 0 0 #000, inset -1px -1px 0 0px $gray-light !important;
    border-bottom: 1px solid #fff !important;
    border-right: 1px solid #fff !important;
    border-top: 1px solid $gray-dark !important;
    border-left: 1px solid $gray-dark !important;
  
  }
}

/* override the ugly file uploader styling */ 
.fileContainer {
  background: none !important;
  box-shadow: none !important;
}