@import './assets/windows95';

@font-face {
  font-family: 'w95';
  src: url('./assets/w95fa-webfont.woff2') format('woff2'),
       url('./assets/w95fa-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

html {
  box-sizing: border-box;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  outline: none;
}

body {
  height: 100vmax;
  background: rgb(0,0,0);
  background: -moz-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(92,38,134,1) 35%, rgba(255,22,144,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(92,38,134,1) 35%, rgba(255,22,144,1) 100%);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(92,38,134,1) 35%, rgba(255,22,144,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ff1690",GradientType=1);
  font-family: 'w95';
}


/* temp css maybe*/ 

img.photoPreview, 
canvas.decorateCanvas,
video {
  width: 100%;
}

.decorate-page .main-container {
  float: left;
}
img.decoration {
  width: 100px;
}